<ul>
  <li>AppName: {{ appName }}</li>
  <li>AppVersion: {{ appVersion }}</li>
  <li>
    Categories:
    <ul>
      <li *ngFor="let category of podcastCategories">
        {{ category }}
      </li>
    </ul>
  </li>
</ul>
