<h1>Mini Task</h1>
<nav>
  <aside>
    <!-- <a routerLink="/">Podcasts</a>&nbsp; -->
    <a routerLink="/pokemon">Pokemon</a>&nbsp;
    <a routerLink="/podcasts">Podcasts</a>&nbsp;
    <a routerLink="/author">Author</a>
  </aside>
</nav>
<router-outlet></router-outlet>
